@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');


*{

    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: url('https://images.unsplash.com/photo-1561484930-998b6a7b22e8?auto=format&fit=crop&q=80&w=1470&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    font-family:Verdana, Geneva, Tahoma, sans-serif,sans-serif;
    background-repeat:no-repeat;
    background-size:cover;
    height:100vh
}

.container{

    padding:20px 70px;
    color:white;

}

.current-info{
    display:flex;
    justify-content:space-between;
    flex-wrap:wrap;
}

.date-container .time{

    font-size: 70px;
    font-weight: 100;

}

.date-container .time #am-pm {

    font-size: 40px;
    margin:0.5px;
}

.date-container .date {

    font-size: 30px;
    font-weight: -10px;
    padding: 15px;
}

.place-container {

    font-size: 40px;
    font-style: normal;
    padding-top: 20px;
    font-weight:10;
    text-align: end;
    position: relative;
    left: 500px;
}



.card {

    display: flex;
    border: 1px solid;
    border-radius: 10px;
    background-color: rgba(89, 89, 146, 0.6);
    padding-bottom: 2px;
    width: 90%;
    max-width: 390px;
    max-height: 130px;
    position: relative;
    top: 200px;
    right: 300px;
    padding: 0px 5px;
    padding-bottom: 0px;
    text-align: center;
    transition: max-width 0.5s, max-height 0.5s;
}

.search {
    width: 100%;
    display: flex;
    position: relative;
    padding-top: 5px;
    padding-bottom: 10px;
    top: 80px;
    left: 20px;
    align-items:center;
    justify-content: space-between;
    padding-right: 50px;
}

.weather-icon {

    position: absolute;
    top: 80px;
    right: 120px;
    padding-top: 20px;
    max-height: 200px;

}

#city {

    margin-left: 120px ;
    position: absolute;
    top: 320px;
}
#temp {

    position:absolute;
    top: 280px;
    margin-left: 120px;
}
.search input {
    border:0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding:10px 25px;
    height:60px;
    position: absolute;
    bottom: 10px;
    border-radius: 30px;
    flex:1;
    margin-right: 16px;
    font-size: 18px;
}

.input button {
    border: 0;
    outline: 0;
    background: #f5f5f5;
    width: 60px;
    height: 60px;
    cursor: pointer;
    box-shadow: 0 0 5px #555; /* Specify the shadow using the correct syntax (x, y, blur, color) */
    border-radius: 50%; /* You can use 50% for a circle */
    margin-bottom: 10px;
    position: absolute;
    bottom: -2px;
    background-image: url("images/search.png"); /* Use the url() function for the image path */
    background-repeat: no-repeat;
    background-position-x: 3px;
    background-position-y: 2px;
    right: 57px;
}

.search{
    position: absolute;
    margin-top: 10px;
    
}

.weather {
    align-items: center;
    padding-top: 80px;
    margin-top: 50px;

}

.search button img{
    max-width:600000px;
    min-height: 100px;

}

.current-info .others {

    display: flex;
    background-color: rgba(89, 89, 146, 0.6);
    border-radius: 10px;
    border:1px solid;
    margin-bottom: 150px;
    margin-top: 50px;
}

.current-info .others .weather-item {

    font-size: 20px;
    padding: 5px;
    margin: 10px;
}

.future-forecast {

    display: flex;
    justify-content: space-evenly;
    align-items: start;
    background-color: rgba(89, 89, 146, 0.5);
    margin:0 10px;
}

.future-forecast .weather-forecast {
    background-color: rgba();

    padding: 10px;
    margin: 5px;
    align-items: center;
}

.future-forecast .weather-forecast .weather-forecast-item {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-items: center;
    justify-content: center;
}

.day {

    padding: 5px 15px;
    border-radius: 50px;
    
    font-size:large;
    text-align: center;
    font-weight: 1;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.weather-forecast .weather-forecast-item {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#temp {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.weather {

    display:none;
    transition: display 1s;
}

.error {
    margin-left: 70px;
    margin-top: 100px;
    display: none;
}

@media only screen and (max-width:730px) {
    
    .container{

        justify-content: start;
        align-items: none;
        overflow-x: scroll;
        overflow-y: scroll;
    }
}
